<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Education Easy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/Home.css')}}" />
</head>
<body>
    <header id="header">
        <img id="logo" src="/static/logo.png" alt="logo">
        <h1>Welcome to Make Education Easy</h1>
        <p>Start your journey with best</p>
    </header>
    <nav>
        <a class="navbar" href="#header">Home</a>
        <a class="navbar" href="#about_us">About Us</a>
        <a class="navbar" href="#contact">Contact</a>
        <a class="navbar" href="{{ url_for('login') }}">Login</a>
    </nav>
    <div class="container">
        <div class="box">
            <div class="box-content">
                
                <!-- <h2>Math</h2> -->
                <div class="box-image" ><img src="/static/ts1.jpg" style="width:100%">
                </div>
                
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                
                <div class="box-image" ><img src="/static/ts2.jpg" style="width:100%">
                </div>
                
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                
                <div class="box-image" ><img src="/static/ts3.jpeg" style="width:100%">
                </div>
                
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                
                <div class="box-image" ><img src="/static/ts4.jpg" style="width:100%">
                </div>
               
            </div>
        </div>
    </div>

    <footer>
        <div class="foot-panel1">
            <a href="#header">Back to Top</a>
        </div>
        <div class="foot-panel2" id="about_us">
            <h3>Get to Know About Developer</h3>
            <ul id="ani">
                
                <u class="account"><strong>Animesh Samanta</strong></u><img src="/static/animesh.png"alt="Animesh_image" class="img" id="ani_img">
                <a href="https://www.linkedin.com/in/animesh-samanta-21566025a/" target="_blank">LinkedIn</a>
                <a href="https://github.com/animeshs-samanta" target="_blank">Github</a>
                <p><u><strong>Email:</strong></u> animeshsamanta1919@gmail.com</p>
                
            
            </ul>
            <ul id="dip">
                
                <u class="account"><strong>Dip Das</strong></u><img src="/static/dip.jpg"alt="Dip_image" class="img" id="dip_img">
                <a href="https://www.linkedin.com/in/dip-das-781950203/" target="_blank">LinkedIn</a>
                <a href="https://github.com/dipdas4916" target="_blank"a>Github</a>
                <p><u><strong>Email:</strong></u> dasdip4916@gmail.com</p>
                
            
            </ul>

            <ul id="akash">
                
                <u class="account"><strong>Akash Choudhury</strong></u><img src="/static/akash.jpg"alt="Akash_image" class="img" id="akash_img">
                <a href="https://www.linkedin.com/in/akash-chowdhury-409b8b25a/" target="_blank">LinkedIn</a>
                <a href="https://github.com/chowdhurytestgit" target="_blank">Github</a>
                <p><u><strong>Email:</strong></u> csonai2001@gmail.com</p>
                
            
            </ul>
            <!-- <ul>
                <p>Amazon Payment Products</p>
                <a>Amazon Business Card</a>
                <a>Shop with Points</a>
                <a>Reload Your Balance</a>
                <a>Amazon Currency Converter</a>
            </ul>
            <ul>
                <p>Contact</p>
                <a>Amazon and COVID-19</a>
                <a>Your Account</a>
                <a>Your Orders</a>
                <a>Shipping Rates & Policies</a>
                <a>Returns & Replacements</a>
                <a>Manage Your Content and Devices</a>
                <a>Amazon Assistant</a>
                <a>Help</a>
            </ul> -->
        </div>

        <div class="foot-panel3" id="contact">
            <!-- <h4 id="connect_heading">Connect With Developer Through Email</h4>
            <ul id="name" class="connect">
                <li style="padding-left: 0vw;">Animesh Samanta</li>
                <li>Dip Das</li>
                <li>Akash Choudhury</li>
            </ul> -->
           
        </div>
        
        <div class="foot-panel4">
            <div class="pages">
                <a > Condition of Use</a>
                <a > Privacy Notice</a>
                <a > Your Ads privacy Choices</a>
            </div>
            <div class="copyright">
                © 2023, MakeEducationEasy.com, Inc. or its affiliates
            </div>
        </div>

    </footer>
    <!-- <footer>
        <p>&copy; 2023 Educational Institute. All rights reserved.</p>
    </footer> -->
</body>
</html>


