*{
    margin:0;
    padding:0;
    /* background-color:gray; */
}


  .logo{
    position: relative;
    top:3vw;
    left:4vw;
    height:6vw;
    width:8vw;
    transition: all 0.2s ease-in-out;
}
.logo:hover{
    transform: scale(1.5);
    box-shadow: 0.5vw 0.5vw 0.5vw black;
}

#logo1{
    position: relative;
    top:3vw;
    left:44vw;
}

table{
    position: relative;
    top:5vw;
    left:7vw;
    width:80vw;

    background-image: linear-gradient(red, yellow);
    
    border:0.5vw solid black;

    box-shadow: 0.5vw 0.5vw 0.5vw black;
}
table tr{

    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
}
table thead{
    text-align: center;
    /* background-color: pink; */
    height:2.5vw;
    padding:0.5vw;
    font-size: 2.2vw;
    background: linear-gradient(to right, blue,purple, black); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
    text-shadow: 0.05vw 0.05vw 0.05vw black;
    font-weight: 900;
    text-decoration: underline;
}
h2{
    display: inline-block;
    position: relative;
    top:1vw;
    left:22vw;
    text-align: center;
    font-weight: 900;
    font-size: 4vw;
    text-decoration: underline;
    color:rgb(175, 12, 107);
    text-shadow: 0.15vw 0.15vw 0.15vw black;
}
/* #heading{
    text-align: center;
    font-weight: 900;
    font-size:4vw;
    text-decoration: underline;
    text-decoration-style: dotted;
} */

#remove_button{
    
    background-color: rgb(147 241 142);
    color:#0e0d19;
    text-shadow: 0.05vw 0.05vw 0.05vw black;
    width:8vw;
    height:3vw;
    font-weight: 800;
    font-size:1.2vw;
    border-radius: 47%;
    /* text-decoration: underline; */
    text-decoration-style: solid;
}